@keyframes android-progress {
  0% {
    left: 0;
    width: 0;
  }
  25% {

    width: 50%;
  }
  65% {
    left: 100%;
    width: 100%;
  }
  66% {
    left: 100%;
    width: 0;
  }
  72% {
    width: 0;
    left: 0;
  }

  98% {
    left: 100%;
    width: 100%;
  }
  99% {
    left: 100%;
    width: 0;
  }
}

.android-progress {
  position: relative;
  overflow: hidden;

  > div {
    background-color: rgb(88, 186, 221);
    position: absolute;
    height: 100%;
    animation: android-progress 4s infinite;
  }
}